*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #5b6169;
    height: auto;
    width: 100%;
}
.container{
    max-width: 940px;
    padding: 20px;
    margin: 0 auto;
}
.wrap {
    display: flex;
    justify-content: space-between;
}





.burger_btn {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 30;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #3674ba;
}
.burger_btn:hover .burger_lines{
    filter: brightness(0.7);
}
.burger_lines,
.burger_lines::after,
.burger_lines::before {
    position: absolute;
    width: 40px;
    height: 5px;
    background-color: white;
}
.burger_lines {
    top: 50%;
    right: -17%;
    transform: translate(-50%,-50%);
}
.burger_lines::after{
    content: "";
    top: 12px;
}
.burger_lines::before {
    content: "";
    top: -12px;
}
.burger_active .burger_lines{
    background-color: transparent;
}
.burger_active .burger_lines::before{
    transform: rotate(45deg);
    top: 0;
}
.burger_active .burger_lines::after{
    transform: rotate(-45deg);
    top: 0;
}
.burger_nav {
    border-radius: 3%;
    padding-top: 80px;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #2a2a2a;
    overflow-y: auto;
    right: -100%;
}

.burger_active .burger_nav {
    right: 0;
}
.burger_link {
    padding: 30px;
    font-family: sans-serif;
    font-size: 32px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    color: white;
}
.burger_link:hover{
    filter: brightness(0.7);
}
.burger_overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.burger_active .burger_overlay {
    display: block;
}



.gradient_div {
   display: inline-block;
   font-family: 'Roboto', sans-serif;
} 
.gradient_text{
    font-size: 16px;
    background: linear-gradient(#ffffff,#9d9d9e); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}
.smaller_fz{
    font-size: 10PX;
}
section {
    height: auto;
    width: 100%;
}
.s1 {
    /* height: 470px; */
    background-image: url("../images/good_background.jpg");
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
}
.s1_inherit {
    display: flex;
    justify-content: space-around;
}

.phone {
    align-items: flex-end;
    display: flex;
}

.info {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-left: 80px;
    margin-right: 0;
  
}
.ios_wrap {
    width: 500px;
}
.ios_apps{
    color: whitesmoke;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
    font-size: 45px;
}
.ios_description {
    display: block;
    color: #335565;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    margin-top: 18px;
    margin-bottom: 18px;
}
.btn1 {
    padding: 13px 46px;
    background-color: #74abda;
    font-size: 18px;
    font-weight: 300;
    border: none;
    color: #ffffff;
    cursor: pointer;
}
.s2 {
    font-family: 'Open Sans', sans-serif;
}
.services {
    margin: 0 auto;
    max-width: 940px;
    margin-top: 60px;
    margin-bottom: 30px;
}
.our_services {
    color: #5b6169;
    font-size: 45px;
    font-weight: 100;
    position: relative;
    text-align: center;
}
.our_services:before {
    content: "";
    background-color: #5b6169;
    width: 225px;
    height: 1px;
    position: absolute;
    left: 80px;
    top: 30px; 
}
.our_services:after {
    content: "";
    background-color: #5b6169;
    width: 225px;
    height: 1px;
    position: absolute;
    right: 80px;
    top: 30px;
}
.headings {
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.platform {
    flex-direction: column;
    text-align: center;
}
.platform_headers {
    margin: 25px 0;
    font-size: 18px;
    color: #3674ba;
}
.platform_P{
    font-size: 12px;
    width: 200px;
    margin: 0 auto;
}
.btn2 {
    padding: 0;
    width: 125px;
    height: 30px;
    margin-top: 30px;
    font-size: 12px;
}
.s3 {
    background-color: #d1d1d1;
    font-family: 'Open Sans', sans-serif;
}
.about {
    margin: 0 auto;
    max-width: 940px;
    margin-top: 60px;
    margin-bottom: 65px;
    padding-top: 60px;
    
}
.about_h {
    color: #5b6169;
    font-size: 45px;
    font-weight: 100;
    position: relative;
    text-align: center;
}
.our_services.about_h:before {
    left: 150px;
    top: 30px; 
}
.our_services.about_h:after {
    right: 150px;
    top: 30px;
}
.content {
    margin: 0 auto;
    max-width: 940px;
    display: flex;
    flex-direction: row;
    padding-bottom: 65px;
}
.task-skills {
    display: flex;
    flex-direction: column;
}
.form-map {
    display: flex;
    flex-direction: column;
}
.task_header {
    color: #7c7c7c;
    font-size: 25px;
    margin-bottom: 20px;
}
.task_p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-bottom: 20px;
    color: #4e4e4e;
    line-height: 20px;
    
}
.skills {
    margin-top: 33px;
}
.skills_header {
    color: #3674ba;
    font-size: 20px;
    padding-bottom: 15px;
}
.my_skills {
    font-size: 14px;
}
.skill_1 {
    width: 460px;
    height: 30px;
    background-color:  #828181;
    color: white;
    margin-bottom: 10px;
    position: relative;
}
.skill_2 {
    width: 460px;
    height: 30px;
    background-color:  #828181;
    color: white;
    margin-bottom: 10px;
    position: relative;
}
.skill_3 {
    width: 460px;
    height: 30px;
    background-color:  #828181;
    color: white;
    margin-bottom: 10px;
    position: relative;
}
.skill_4 {
    width: 460px;
    height: 30px;
    background-color:  #828181;
    color: white;
    margin-bottom: 10px;
    position: relative;
}
.p_skill {
    position: absolute;
    padding: 5px 5px;
    z-index: 5;
}
.skill_1::before {
    content: "";
    background-color: #3674ba;
    width: 430px;
    position: absolute;
    height: 30px;
}
.skill_2:before {
    content: "";
    background-color: #3674ba;
    width: 440px;
    position: absolute;
    height: 30px;
}
.skill_3:before {
    content: "";
    background-color: #3674ba;
    width: 400px;
    position: absolute;
    height: 30px;
}
.skill_4:before {
    content: "";
    background-color: #3674ba;
    width: 390px;
    position: absolute;
    height: 30px;
}
form {
    position: relative;
}
input {
    position: absolute;
    border: none;
    width: 100%;
    padding: 6px;
}
.in1 {
    top: 20px;
}
.in2 {
    top: 70px;
}
.in3 {
    top: 120px;
}
textarea {
    position: absolute;
    top: 170px;
    resize: none;
    height: 77px;
    width: 100%;
    border: none;
    margin-top: 10px;
    padding: 6px;
    font-family: 'Open Sans', sans-serif;
}
.btn3 {
    background-color: #3674ba;
    padding: 11px 28px;
    border: none;
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 204px;
}
.div_footer{
    margin: 0 auto;
    max-width: 940px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6f6f6f;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
/* @media (min-width: 1200px)
{
    
}
@media (min-width: 992px)
{
    
}
@media (min-width: 768px)
{
    
}
@media (min-width: 576px)
{
    
} */




/* Large desktops and laptops */
@media (min-width:1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width:992px) and (max-width:1199px) {
	
    .content{
        flex-direction: column;
    }
    .s3 {
        height: 1000px;
    }
    .skills {
        margin: 0 auto;
    }
    .map {
        margin: 0 auto;
    }
}

/* Portrait tablets and small desktops */
@media (min-width:768px) and (max-width:991px) {
    .ios_wrap{
        width: 300px;
    }
    .img_phone {
        width: 250px;
        height: 400px;
    }
    .ios_apps{
        font-size: 30px;
    }
    .ios_description{
        font-size: 15px;
    }
    .headings {
        flex-direction: column;
    }
    .platform {
        margin-bottom: 50px;
    }
	.content{
        flex-direction: column;
    }
    .s3 {
        height: 1000px;
    }
    .skills {
        margin: 0 auto;
    }
    .map {
        margin: 0 auto;
    }
    form {
       margin: 0 50px;
       
    }
    input {
        width: 100%;
        margin: 0 auto;
    } 
    textarea {
        width: 100%;
    }
    .task {
        margin: 0 50px;
    }
    .btn3 {
        right: 0;
    }
    .our_services:before {
        width: 100px;
        left: 120px;
    }
    .our_services:after {
        width: 100px;
        right: 120px;
    }
    .our_services.about_h:before {
        left: 200px;
    }
    .our_services.about_h:after {
        right: 200px;
    }
}

/* Landscape phones and portrait tablets */


@media (max-width:768px) {
    .info {
        margin-left: 30px;
    }
	.ios_wrap{
        width: 270px;
    }
    .img_phone {
        width: 200px;
        height: 350px;
    }
    .ios_apps{
        font-size: 30px;
    }
    .ios_description{
        font-size: 14px;
    }
    .headings {
        flex-direction: column;
    }
    .platform {
        margin-bottom: 50px;
    }
	.content{
        flex-direction: column;
    }
    .s3 {
        height: 1000px;
    }
    .skills {
        margin: 0 auto;
    }
    .map {
        margin: 0 auto;
    }
    form {
       margin: 0 50px;
       
    }
    input {
        width: 100%;
        margin: 0 auto;
    } 
    textarea {
        width: 100%;
    }
    .task {
        margin: 0 50px;
    }
    .btn3 {
        right: 0;
    }
    .our_services {
        font-size: 30px;
    }
    .our_services:before {
        top: 18px;
        width: 80px;
        left: 70px;
    }
    .our_services:after {
        top: 18px;
        width: 80px;
        right: 70px;
    }
    .our_services.about_h:before {
        left: 120px;
        top: 18px;
    }
    .our_services.about_h:after {
        right: 120px;
        top: 18px;
    }

}


@media (max-width:575px) {
    .ios_description{
        font-size: 13px;
    }
	.skills_header {
        text-align: center;
    }
    .info {
        margin-left: 25px;
    }
    
    .my_skills {
       
        width: 100%;
    }
    .skills {
        margin-left: 50px;
        margin-right: 50px;
    }
    .skill_1 {
        width: 100%;
    }
    .skill_2 {
        width: 100%;
    }
    .skill_3 {
        width: 100%;
    }
    .skill_4 {
        width: 100%;
    }
    .skill_1::before {
    
        width: 93%;
    
    }
    .skill_2:before {
        
        width: 95%;
        
    }
    .skill_3:before {
        width: 87%;
    }
    .skill_4:before {
        
        width: 84%;
       
    }
    .map {
        /* margin-left: 50px;
        margin-right: 50px; */
        margin: 0 auto;
        
    }
    .this_map {
        width: 400px;
        height: 100px;
    }

}







@media (max-width:480px) {
    
.my_skills{
    font-size: 11px;
}	
.phone {
    display:  none;
}
.info {
    margin-top: 50px;
    margin-bottom: 70px;
}
.our_services {
    font-size: 20px;
}
.our_services:before {
    top: 12px;
    width: 80px;
    left: 10px;
}
.our_services:after {
    top: 12px;
    width: 80px;
    right: 10px;
}
.our_services.about_h:before {
    left: 40px;
    top: 12px;
}
.our_services.about_h:after {
    right: 40px;
    top: 12px;
}


.skill_1::before {
    
    width: 93%;

}
.skill_2:before {
    
    width: 95%;
    
}
.skill_3:before {
    width: 87%;
}
.skill_4:before {
    
    width: 84%;
   
}
.map {
    margin-left: 50px;
    margin-right: 50px;
    
}
.this_map {
    width: 90%;
    height: 30%;
}
}




/* Iphone 5 */
@media (max-width:320px) {
	.my_skills{
        font-size: 10px;
    }
    .our_services:before {
        top: 12px;
        width: 50px;
        left: 10px;
    }
    .our_services:after {
        top: 12px;
        width: 50px;
        right: 10px;
    }
    .our_services.about_h:before {
        left: 60px;
        top: 12px;
    }
    .our_services.about_h:after {
        right: 60px;
        top: 12px;
    }
}